@media (max-width: 991px) {
  html {
      font-size: 55%;
      scroll-padding: 7rem;
  }
  .header {
      padding: 0 2rem;
  }
}

@media (max-width: 768px) {
  #menu-btn {
      display: inline-block;
  }

  #menu-btn.fa-times {
      transform: rotate(180deg);
  }

  .header {
      padding: 2rem;
  }

  .header .navbar {
      position: absolute;
      top: 99%;
      left: 0;
      right: 0;
      background: #000;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .header .navbar.active {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .header .navbar a {
      display: block;
      font-size: 2rem;
  }
}
@media (max-width: 450px) {
  html {
      font-size: 50%;
  }
}