:root {
    --cor-verde-menta: #05ee15;
    --cor-verde-bosta: #597c5c;
    --cor-preto: #000 ;
    --cor-branca: #fff;
    --cor-cinza: #808080;
  }

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    /*o que fica abaixo da barra*/
    background: #000;
}

html::-webkit-scrollbar-thumb {
    /*cor da barra*/
    background: var(--cor-verde-menta);
}

body {
    background: #000;
}

section {
    padding: 5rem 9%;
}

/*Cabeçalho das sessões*/
.heading {
    text-align: center;
    margin-bottom: 3rem;
    position: relative;
}
.heading::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: .1rem;
    width: 100%;
    background: var(--cor-cinza);
    z-index: -1;
}
.heading span {
    font-size: 3rem;
    color: var(--cor-verde-menta);
    background: var(--cor-preto);
    padding: .5rem 1.5rem;
    border: 0.1rem solid var(--cor-cinza);
    border-radius: .5rem;
}
.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 2.8rem;
    padding-right: 3rem;
    background: linear-gradient(130deg, var(--cor-verde-menta) 93%, 
    transparent 90%);
    color: var(--cor-branca);
    cursor: pointer;
    font-size: 1.7rem;
}
.btn:hover {
    transform: scale(1.1);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 9%;
    z-index: 10000;
    background: var(--cor-preto);
}
.header .logo {
    font-weight: bolder;
    color: var(--cor-branca);
    font-size: 3rem;
}
.header .logo span {
    color: var(--cor-verde-menta);
}

.logoz{
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.LogoVitor{
    width: 100px;
    height:100px;
}
.header .navbar a {
    display: inline-block;
    padding: 1.5rem 2rem;
    font-size: 1.7rem;
    color: var(--cor-branca);
}
.header .navbar a:hover {
    background: var(--cor-verde-menta);
}
#menu-btn {
    font-size: 3rem;
    color: var(--cor-branca);
    cursor: pointer;
    display: none;
}

/* Conteúdo da página */
main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.apresentation-test {
    width: 100%;
    max-width: 1250px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    gap: 25px;

    & .textos {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;

        gap: 40px;
        font-size: 15px;

        & .frase {
            font-size: 25px;
            color: var(--cor-branca);
            text-shadow: 0 0 10px var(--cor-verde-bosta);
            text-align: center;
        }
    
        & .title {
            text-transform: uppercase;
            color: var(--cor-verde-menta);
            text-shadow: 0 0 10px var(--cor-verde-bosta);
        }
    }

    & .exemplo {
        width: 800px;
        height: 500px;
        border-radius: 9px;
        box-shadow: 0 0 15px var(--cor-verde-menta);
        filter: saturate(.6);
    }
}

.informations {
    width: 100%;
    max-width: 1250px;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    color: var(--cor-branca);
    opacity: .9;
    gap: 10px;
}



/* Rodapé */
.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;

    & .box h3 {
        font-size: 2.2rem;
        color: var(--cor-branca);
        padding: 1rem 1rem;
    }

    & .box .links {
        font-size: 1.5rem;
        display: block;
        color: var(--cor-cinza);
        padding: 1rem 3rem;

        &:hover {
            color: var(--cor-verde-menta);
        }
    }

    & .box p {
        font-size: 1.5rem;
        color: var(--cor-cinza);
        padding: 1rem 3rem;

        & i {
            padding-right: .5rem;
            color: var(--cor-verde-menta);
        }
    }

    & .box .share {
        padding: 1rem 3rem;

        & a {
            height: 4.5rem;
            width: 4.5rem;
            line-height: 4.5rem;
            font-size: 1.7rem;
            color: var(--cor-branca);
            background: var(--cor-preto);
            border-radius: 50%;
            margin-right: .5rem;
            text-align: center;

            &:hover {
                background: var(--cor-verde-menta);
            }
        }
    }

    & .box form {
        margin-left: 2rem;

        & .email {
            margin-bottom: 1rem;
            width: 100%;
            background: var(--cor-preto);
            padding: 1.2rem;
            font-size: 1.5rem;
            color: var(--cor-branca);
            text-transform: none;
        }
    }
}