:root {
    --cor-verde-menta: #05ee15;
    --cor-verde-bosta: #597c5c;
    --cor-preto: #000 ;
    --cor-branca: #fff;
    --cor-cinza: #808080;
  }

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    /*o que fica abaixo da barra*/
    background: #000;
}

html::-webkit-scrollbar-thumb {
    /*cor da barra*/
    background: var(--cor-verde-menta);
}

body {
    background: #000;
}

section {
    padding: 5rem 9%;
}

/*Cabeçalho das sessões*/
.heading {
    text-align: center;
    margin-bottom: 3rem;
    position: relative;
}
.heading::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: .1rem;
    width: 100%;
    background: var(--cor-cinza);
    z-index: -1;
}
.heading span {
    font-size: 3rem;
    color: var(--cor-verde-menta);
    background: var(--cor-preto);
    padding: .5rem 1.5rem;
    border: 0.1rem solid var(--cor-cinza);
    border-radius: .5rem;
}
.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 2.8rem;
    padding-right: 3rem;
    background: linear-gradient(130deg, var(--cor-verde-menta) 93%, 
    transparent 90%);
    color: var(--cor-branca);
    cursor: pointer;
    font-size: 1.7rem;
}
.btn:hover {
    transform: scale(1.1);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 9%;
    z-index: 10000;
    background: var(--cor-preto);
}
.header .logo {
    font-weight: bolder;
    color: var(--cor-branca);
    font-size: 3rem;
}
.header .logo span {
    color: var(--cor-verde-menta);
}

.logoz{
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.LogoVitor{
    width: 100px;
    height:100px;
}
.header .navbar a {
    display: inline-block;
    padding: 1.5rem 2rem;
    font-size: 1.7rem;
    color: var(--cor-branca);
}
.header .navbar a:hover {
    background: var(--cor-verde-menta);
}
#menu-btn {
    font-size: 3rem;
    color: var(--cor-branca);
    cursor: pointer;
    display: none;
}

.home {
    padding: 0;
    margin-top: 5rem;
}
.home .slide {
    min-height: 90vh;
    background-size: cover !important;
    background-position: center !important;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
}

.home .slide .content {
    width: 60rem;
}

.home .slide .content span {
    font-size: 2rem;
    color: var(--cor-verde-menta);
    display: block;
}
.home .slide .content h3 {
    font-size: 5rem;
    color: var(--cor-branca);
    padding: 1rem 0;
}
/*class de swipwer para criar as bolinhas*/
.swiper-pagination-bullet {
    height: 2rem;
    width: 2rem;
    background: var(--cor-branca);
    border-radius: 0;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: var(--cor-verde-menta);
}
.about {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8rem;
}

.about .image {
    flex: 1 1 42rem;
    position: relative;
}
.about .image::before,
.about .image::after {
    content: '';
    position: absolute;
    z-index: -1;
    background: var(--cor-verde-menta);
    height: 15rem;
    width: 15rem;
}
.about .image::before {
    top: 0;
    left: 0;
}

.about .image::after {
    bottom: 0;
    right: 0;
}
.about .image img {
    width: 100%;
    padding: 2rem;
    filter: drop-shadow var(--cor-verde-menta);
}

.about .content {
    flex: 1 1 42rem;
}
.about .content span {
    font-size: 2rem;
    color: var(--cor-verde-menta);
}

.about .content .title {
    font-size: 4rem;
    color: #fff;
    margin-top: .5rem;
}
.about .content p {
    font-size: 1.5rem;
    color: #aaa;
    padding: 1rem 0;
    line-height: 2;
}

.about .content .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 1rem;
}
.about .content .box-container .box {
    flex: 1 1 20rem;
}

.about .content .box-container .box h3 {
    font-size: 2rem;
    color: var(--cor-branca);
}

.about .content .box-container .box h3 i {
    padding-right: 1.5rem;
    color: var(--cor-verde-menta);
}
.features .box-container {
    display: grid;
    /*Vai cria o auto-fit também tenta 
    colocar quantas colunas der, expandindo os itens para caber no espaço disponível.
    E com controle do tamanho mínimo e máximo dos itens.*/
    grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
    gap: 1.5rem;
}
.features .box-container .box {
    background: var(--cor-preto);
}

.features .box-container .box.second {
    display: flex;
    flex-flow: column-reverse;
}

.features .box-container .box:hover .image img {
    transform: scale(1.1);
}
.features .box-container .box .image {
    height: 30rem;
    width: 100%;
    overflow: hidden;
}

.features .box-container .box .image img {
    height: 100%;
    width: 100%;
    /*a imagem é dimensionado para manter sua proporção e preencher 
    toda a caixa de conteúdo do elemento*/
    object-fit: cover;
}
.features .box-container .box .content {
    padding: 2rem;
    text-align: center;
}

.features .box-container .box .content img {
    height: 9rem;
    margin-bottom: 1rem;
    filter: invert(1);
}

.features .box-container .box .content h3 {
    font-size: 2rem;
    color: var(--cor-verde-menta);
}

.features .box-container .box .content p {
    line-height: 2;
    font-size: 1.5rem;
    color: var(--cor-cinza);
    padding: 1rem 0;
}

.trainers .box {
    height: 10rem;
    overflow: hidden;
    position: relative;
}
.trainers .box:hover .social-media {
    transform: translateY(0);
}

.trainers .box .social-media {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--cor-preto);
    padding: 2rem;
    transform: translateY(6.5rem);
}

.trainers .box .social-media h3 {
    font-size: 2rem;
    color: var(--cor-verde-menta);
    padding-top: .5rem;
}
.trainers .box .social-media .share {
    padding-top: 2rem;
    margin-top: 1.5rem;
    border-top: 0.1rem solid var(--cor-cinza);
}

.trainers .box .social-media .share a {
    font-size: 2rem;
    color: var(--cor-branca);
    margin-right: 1.5rem;
}

.trainers .box .social-media .share a:hover {
    color: var(--cor-verde-menta);
}
.banner {
    width: 100%;
    height: 60%;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
    url(../img/imagemfundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
}

.banner span {
    font-size: 2rem;
    color: var(--cor-verde-menta);
}

.banner h3 {
    padding-top: 1rem;
    color: var(--cor-branca);
    text-transform: uppercase;
    font-size: 3.5rem;
}

.banner p {
    margin: 1rem auto;
    max-width: 60rem;
    font-size: 1.5rem;
    color: var(--cor-cinza);
    line-height: 2;
}
.review {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.review .information {
    flex: 1 1 35rem;
}
.review .information span {
    font-size: 2rem;
    color: var(--cor-verde-menta);
}

.review .information h3 {
    font-size: 3rem;
    color: var(--cor-branca);
    padding-top: 1rem;
}

.review .information p {
    font-size: 1.5rem;
    line-height: 2;
    color: var(--cor-cinza);
    padding: 1rem 0;
}

.review .review-slider {
    flex: 1 1 60rem;
}

.review .review-slider .slide {
    background: linear-gradient(130deg, var(--cor-preto) 93%, transparent 90%);
    padding: 2rem 3rem;
}

.review .review-slider .slide p {
    font-size: 1.5rem;
    line-height: 2;
    color: var(--cor-cinza);
}

.review .review-slider .slide .user {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
}

.review .review-slider .slide .user img {
    height: 5rem;
    width: 5rem;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 1rem;
}

.review .review-slider .slide .user h3 {
    font-size: 2rem;
    color: var(--cor-branca);
}

.review .review-slider .slide .user span {
    color: var(--cor-verde-menta);
    font-size: 1.5rem;
}

.review .review-slider .slide .user i {
    font-size: 5rem;
    margin-left: auto;
    margin-right: 2rem;
    color: var(--cor-verde-menta);
}


.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .box h3 {
    font-size: 2.2rem;
    color: var(--cor-branca);
    padding: 1rem 1rem;
}

.footer .box-container .box .links {
    font-size: 1.5rem;
    display: block;
    color: var(--cor-cinza);
    padding: 1rem 3rem;
}

.footer .box-container .box .links:hover {
    color: var(--cor-verde-menta);
}

.footer .box-container .box p {
    font-size: 1.5rem;
    color: var(--cor-cinza);
    padding: 1rem 3rem;
}

.footer .box-container .box p i {
    padding-right: .5rem;
    color: var(--cor-verde-menta);
}

.footer .box-container .box .share {
    padding: 1rem 3rem;
}

.footer .box-container .box .share a {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    font-size: 1.7rem;
    color: var(--cor-branca);
    background: var(--cor-preto);
    border-radius: 50%;
    margin-right: .5rem;
    text-align: center;
}

.footer .box-container .box .share a:hover {
    background: var(--cor-verde-menta);
}

.footer .box-container .box form {
    margin-left: 2rem;
}

.footer .box-container .box form .email {
    margin-bottom: 1rem;
    width: 100%;
    background: var(--cor-preto);
    padding: 1.2rem;
    font-size: 1.5rem;
    color: var(--cor-branca);
    text-transform: none;
}
